body {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid limegreen;
  display: grid;
}

#pageDiv {
  justify-content: center;
}

header {
  display: block;
  text-align: center;
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
   /* z-index: 1030;*/
}

/* FOR ICON */
/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(0, 0, 0, .80);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
/*  display: block;*/
  color: #FFFFFF;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #00FDFD;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
 /* text-transform: uppercase;*/
}

/* Add an active class to highlight the current page */
/*.topnav a.active {
  background-color: #00FDFD;
  color: black;
}*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*
nav {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  background-color: skyblue;
}
*/

/*nav a {
  border: 2px solid blue;
}*/

p { 
  text-align: center;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

button {
  font-family: sans-serif;
  background-image: url(https://res.cloudinary.com/mzprizm/image/upload/v1583881183/prizmpool_unkkr2.jpg);
  padding: 20px;
  color: white;
  border: 2px solid black;
  font-size: 20px;
  cursor: pointer;
  hover {
    background-color: #00FDFD;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
 /* text-transform: uppercase;*/
}

}

#topPic {
  display:cover;
  background-repeat:none;
}

.topImage {
  margin: 0 auto;
  max-width: 500px;
  justify-content: center;
}

footer {
  background-image: url(https://res.cloudinary.com/mzprizm/image/upload/v1583881183/prizmpool_unkkr2.jpg);
  background-position: center;
/*  background-repeat: no-repeat;*/
}

.card {
	border: 2px solid purple;
  justify-content: center;
}

.cardcontents {
  border: 2px solid yellow;
}

#portfolioSection {
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
}
.portfolioImage {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

.socialImageBar {
	max-height: 50px;
	max-width: 50px;
}

.coverImage {
/*  display: block;*/
  max-width: 500px;
  margin: 0 auto;
}

.cardstyle > a{
  margin-bottom: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.lightText {
  font-weight: lighter;
}
/*aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
*/


/* media queries */

/* When the screen is less than 700 pixels wide, hide all links,
except for the first one ("Home"). - successful
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 500px) {
    .topnav a:not(:first-child) {display: none;} 
    .topnav a.icon {
      float: right;
      display: block;
      color: white;
    }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens 
(display the links vertically instead of horizontally) */
 .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

/* RAINBOW TEXT BKG */
.grad1 {
    height: 200px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

/* RAINBOW TEXT  */
.gradText {
    background: pink;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}
 
/*/*/
/* STICKY NAV */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

 Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
.sticky + .content {
  padding-top: 60px;
}*/
/*/*/


/* RESPONSIVE - MOBILE FIRST */


/*@media only screen and (min-width:500px) {
		
		nav {
		justify-content: flex-start;
		}

		nav a {
			display: inline;

		}*/

/* 		nav ul li:not(:last-child) {
			display: flex;
		}
 */
/*		header nav a: hover {
			background: #ffcc00;
		}
	}*/

/* min-width:1024px*/

/*	@media only screen and (min-width:1024px) {
    nav {
     background-color: rgba(100, 100, 100, .5);
    }
    
    header h1 {
			font-size: 88px;
      background-color: rgba(100, 100, 100, .5);
		}
		header h2 {
			display: block;
		}
		header h3 {
			display: block;
		}
		nav a {
			display: inline;
		}
	}*/